.icon-copyright-icon { background-image: url('png/copyright-icon.png'); background-repeat: no-repeat; }

.icon-danger-icon { background-image: url('png/danger-icon.png'); background-repeat: no-repeat; }

.icon-stop-icon { background-image: url('png/stop-icon.png'); background-repeat: no-repeat; }

